* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Minecrafter;
    src: url('../fonts/Minecrafter.Reg.ttf') format('truetype');
}
@font-face {
    font-family: Minecraft;
    src: url('../fonts/Minecraft.ttf') format('truetype');
}
@font-face {
    font-family: padrao;
    src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
}

h1 {
    text-align: center;
    font-size: 80px;
    font-family: Minecrafter;
    letter-spacing: 5px;
    color: #8FCA5C;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    background-color: #854F2B;
    padding: 20px;
    background-image: url(https://gartic.com.br/imgs/mural/be/belitaa/minecraft.png);
    background-size: 8%;
}

h2 {
    font-family: Minecrafter;
    -webkit-text-stroke-width: 0.01px;
    -webkit-text-stroke-color: #70B237;
    font-size: 50px;
    color: beige;
    padding: 10px;
}

div {
    padding: 10vh;
    text-align: center;
    display: block;
    margin: auto;
    width: 100%;
    /* height: 100vh; */
}

img {
    width: 300px;
    border-radius: 20px;
    padding: 6px;
}

.img-porco {
    border: #fbb0a8 solid 3px;
}

.img-zumbi {
    border: #4b643e solid 3px;
}

img:hover {
    transform: scale(1.1);
    transition: 0.5s;
    margin: 20px;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    margin: 20px auto;
    width: 50%;
    color: #8FCA5C;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #587a39;
    font-size: 45px;
}

#personagem1 {
    background-color: #ff7e7c;
}

hr {
    border: #4b4b4b solid 2px;
    width: 100%;
    height: 10px;
    background-color: #4b4b4b;
}

#personagem2 {
    background-color: #37592b;
}